$first-font: "Italiana", sans-serif;
$second-font: "Instrument Serif", serif;

$first-color: #4ecdc4;
$second-color: #f5a623;
$third-color: #ffe66d;
$forth-color: #f7fff7;
$fifth-color: #292f36;

$first-size-height: 97vh;
$first-size_width: 97vw;
